.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.leftbar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hearderbar{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 500px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    background-image: url("../../img/city.png");
    margin: 0px;
}